/*Left Panel*/
.left-panel {
    -fx-background-color: #D9EAFD;
    -fx-spacing: 15;
    -fx-alignment: TOP_LEFT;
    -fx-pref-width: 120;
    -fx-padding: 10 5 10 5;
}




/* Left Panel with Software Name */
.left-panel Text {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-fill: #133E87;
}




/* Menu Button for Navigation to other Pages */
.menu-btn {
    -fx-background-color:#133E87;
}








/* Design for Menu Button Arrow */
.menu-btn > .arrow-button .arrow {
    -fx-background-color: white;
    -fx-fill: white;
}








/*Header Section of the page*/




/* Title styling */
.page-header {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 5px 0;
    -fx-text-fill:  #133E87;
}




/* Dashboard container of navigation buttons */
.dashboard-nav-container {
    -fx-alignment: center;
    -fx-spacing: 40px;
    -fx-padding: 10px 0;
}




/* Buttons for navigation to different pages */
.dashboard-nav-buttons {
    -fx-background-color: #1a4283;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-padding: 8px 40px;
    -fx-cursor: hand;
    -fx-graphic-text-gap: 5;
}




/* Hover effect */
.dashboard-nav-buttons:hover {
    -fx-background-color: #13336a;
}




/* Dashboard container for content */
.dashboard-content-container {
    -fx-spacing: 5px;
    -fx-padding: 5px 5px;
    -fx-background-color: #e8e8e8;
}




/* Dashboard container for left content*/
.dashboard-partition-content-container {
    -fx-spacing: 10px;
    -fx-padding: 10px 10px;
    -fx-background-color: #ffffff;
}




/* Table design */
.tree-table {
    -fx-background-color: #e8e8e8;
}




/* Text color design */
.tree-table .text {
    -fx-fill: #133E87;
}




/* Label for dashboard text */
.dashboard-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #133E87;
}



/* Calendar design */
.calendar {
    -fx-border-color: #e8e8e8;
    -fx-border-width: 0 0 0 0;
}



/* Days of the week label */
.calendar-week-label {
    -fx-font-size: 9px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
}


/* Panel of each day label */
.day-pane {
    -fx-background-color: #133E87;
    -fx-border-color: #e8e8e8;
    -fx-border-width: 0 1 1 0;
    -fx-padding: 10px;
}


/* color for each day panel */
.day {
    -fx-border-color: #e8e8e8;
}


/* Notification pane */
.notifications{
    -fx-background-color: #e8e8e8;
}
